language: go

# Force-enable Go modules. Also force go to use the code in vendor/
# These will both be unnecessary when Go 1.14 lands.
env: GO111MODULE=on GOFLAGS='-mod vendor'

go:
  - 1.12.x
  - 1.13.x

# Only clone the most recent commit.
git:
  depth: 1

sudo: false

# Don't email me the results of the test runs.
notifications:
  email: false

before_script:
  - go install github.com/mitchellh/gox
  - go install github.com/golangci/golangci-lint/cmd/golangci-lint

script:
  - make
  - make test
  - make lint
  - make vet
