version: 2
jobs:
  build:
    docker: # run the steps with Docker
      # CircleCI Go images available at: https://hub.docker.com/r/circleci/golang/
      - image: circleci/golang:1.12

    environment: # environment variables for the build itself
      GO111MODULE=on

    steps:
      - checkout # check out source code to working directory
      - run:
          command: |
            go install github.com/mitchellh/gox
            make # pull and build dependencies for the project
      - run:
          name: Run unit tests
          command: |
            make test

workflows:
  version: 2
  build-workflow:
    jobs:
      - build
